@import '../theme/responsive.scss';

#index {
    background-color: rgb(95, 23, 23);
    height: auto;
    min-height: 100%;
}

#header {
    position: absolute;
    z-index: 1;
    @include sm {
        position: relative;
        margin-bottom: 20px;
    }
}

#soon {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 20vw;
    font-family: 'SoonFont';
    text-align: center;
}

@font-face {
    font-family: "SoonFont";
    src: url('../public/fonts/YesevaOne-Regular.ttf');
}

.someLinks {
    padding: 30px;
    text-align: center;
}